<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>關於黃歆芝</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <h1>個人簡介</h1>

        <img src="/static/my.jpg" alt="My Photo" width="300" height="200">

        <h4>黃歆芝</h4>
        <p>興趣：唱歌、畫圖</p>
        <p>我的職業興趣探索：</p>

        <img src="/static/IAR.jpg" alt="IAR圖示" width="300"><br><br>

        <h3>I 研究型</h3>
        <p>研究型的人是典型的“思辨者”(Thinker)，性格特徵為好奇分析、謹慎條理、理性獨立、謙遜、精確、批判。</p>

        <h3>A 藝術型</h3>
        <p>藝術型的人是典型的“創作者”(Creator)，性格特徵為有創意、想像、直覺、獨立、具演藝表達性、跳脫框架限制、不傳統媚俗、理想化、敏銳感性。</p>

        <h3>R 實用型</h3>
        <p>實用型的人是典型的實作者(Doer)，性格特徵為情緒穩定、坦誠直率、獨立實際、謙虛有禮、穩健節儉。</p>

        <h3>何倫碼：</h3>
        <img src="/static/hello.jpg" alt="何倫碼圖" width="300">
    </div>
    <a href="/">回首頁</a>
</body>
</html>
