<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人簡介</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <h1>我的履歷</h1>
        <h1>
            <span>資訊顧問</span><br>
            須具備: Java, C#, ASP.NET <br>
            並需要與顧客有良好的溝通。<br>
            我覺得我未來想做這份工作，因為我不排斥與他人交流，並且我對於程式是感興趣的。<br><br>
            
            
        </h1>

        <img src="/static/work.jpg" alt="My Photo">

    </div>
    <a href="/">回首頁</a>
</body>
</html>
